:root{
    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
    --font-family: 'Inter', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}

.container{
    padding-top: 0.2em;
}
.main-1{
    display: flex;
    margin: 3em;
    position:absolute;
    right: 0;
    left: 0;
}
.svg-1{
    flex: 1;
}
.svg-1 img{
    padding-top: 9em;
    padding-left: 8.4em;
    width: 15%;
    margin: auto;
}
.svg-2{
    flex: 1;
}
.svg-2 img{
    max-width: 95%;
    margin: auto;
}
.main-2{
    display: flex;
    margin: 3em;
    position: absolute;
    right: 0;
    left: 0;
}
.caja1{
    flex: 1;
}
.caja2{
    flex: 1;
}
.biography{
    position: absolute;
    margin: auto;
    padding-left: 4em;
    padding-top: 12em;
}
.biography div{
    display: flex;
    padding-top: 1em;
    align-items: center;  
}
.texto{
    width: 700px;
    padding-right:0;
    font-size: 2em;
    font-family: var(--font-family);
    color: var(--DarkBlue);
    font-weight: 300;
}
.name{
    color: var(--DarkBlue);
    font-family: var(--font-family);
    font-weight: 700;
    display:  flex;
    font-size: 19px;
}
.jobs{
    color: var(--GrayishBlue);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 19px;
    padding-left: 0.5em;
}
.avatar{
    margin: auto;
    margin-top:4em;
    margin-left: 4.1em;
    z-index: 999;
    border-radius: 10px;
    max-width: 72%;
    max-height: 82%;
    box-shadow: 0px 10px 39px 0px rgba(0, 0, 0, 0.75);;
}

.container-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    background-color:white;
    width: 80px;
    height: 40px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 8em;
    bottom: 1.9em;
    padding: 0.2em;
}
.prev:hover{
    cursor: pointer;
}
.next:hover{
    cursor: pointer;
}
.container-footer{
    padding-top: 15.8em;
    position: sticky;
}
.svg-footer img{
    width: 50%;
    margin: auto;
    position: absolute;
    margin-top: 20em;
    z-index: 1;
}

@media screen and (min-width:1440px){
    .container-footer{
        padding-top: 18.1em;
        position: sticky;
    }
    .svg-1 img{
        padding-top: 9.6em;
        padding-left: 8.5em;
        width: 15%;
        margin: auto;
    }
    .svg-2 img{
        max-width: 100%;
    }
    .biography{
        padding-right: 2em;
    }
    .texto{
        position: relative;
        width: 700px;
        font-size: 32px;
        padding-left: 0em;
        padding-top: 0.5em;
        text-justify: inter-word;
        font-family: var(--font-family);
        color: var(--DarkBlue);
        font-weight: 300;
    }
    .biography div{
        padding-top:1.8em;
    }
      .name{
         font-weight: 500;
         color: var(--DarkBlue);
         font-size: 25px;
         margin: 0;
      }
      .jobs{
          font-weight: 500;
          color: var(--GrayishBlue);
      }
    .avatar{
        margin: auto;
        margin-top: 3.8em;
        margin-left: 4.3em;
        max-width: 78%;
    }
    .svg-footer img{
        position: absolute;
        z-index: 1;
        width: 60%;
        padding-top: 3em;
    }
}
/*
@media (min-width:801px) and (max-width:1130px){

    .texto{
        width: 350px;
        font-size: 20px;
    }
    .biography h1{
        font-size: 15px;
    }

}*/

@media screen and (max-width: 800.98px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .main-1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .main-2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .biography{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 4em;
        padding-left: 0em;
    }
    .texto{
        width: 100%;
        font-size: 28px;
        text-align: center;
    }
    /*name*/
    .biography div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .name{
      font-size: 25px;
    }
    .jobs{
        padding-top: 0.5em;
        font-size: 28px;

    }
    .svg-1{
     display: grid;
     place-items: center;
    }
    .svg-1 img{
        padding-top: 3.5em;
        padding-left: 0em;
        width: 90%;
    }
    .svg-2 img{
        max-width: 92.5% !important;
    }
    .caja1{
      display: flex;
      padding-top: 11em;
      align-items: center;
      justify-content: center;
    }
    .container-photo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .avatar{
        width:70%;
        margin-top: 4em;
       margin-left: auto;
       margin-right: auto;
    }
    .svg-2{
        display: flex;
        justify-content: center;
    }
    .svg-2 img{
        max-width: 54%;
        margin: auto;
    }
    .container-button{
        display: flex;
        margin: auto;
        z-index: 999;
    }
    .container-footer{
        display:flex;
        justify-content: end;
        position: absolute;
        width: 90%;
        margin: auto;
        z-index: 1;
        padding-top:43em ;
    }
    .svg-footer img{
        width: 80%;
    }
}

@media screen and (max-width:550px){
    .svg-1 img{
        max-width: 50%;
        margin: auto;
        padding-bottom: 0.5em;
    }
    .biography{
        padding-top: 0.1em;
    }
    .texto{
        width: 100%;
        font-size: 1.3em!important;
        text-align: center;
    }
    .container-footer{
        padding-top:30em;
        margin: auto;
    }
    .container-button{
        padding: 0.02em;
    }
}


@media screen and (max-width:375px){
    .biography{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 4em;
        padding-left: 0em;
    }
    .texto{
        width: 100%;
        font-size: 15px;
        text-align: center;
    }
    .avatar{
        margin-top:2em;
        width: 100% !important;
    }

    .biography div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .name{
      font-size: 25px;
    }
    .jobs{
        padding-top: 0.5em;
        font-size: 28px;
    }
    .svg-2 img{
        max-width: 54%;
        margin: auto;
    }
    .container-button{
       padding:0.1em;
    }
    .container-footer{
        margin-top:0em !important;
        margin: auto;
    }
    .svg-footer img{
        width: 70%;
    }
}
