:root{
    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
    --font-family: 'Inter', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}

.container{
    padding-top: 0.2em;
}
.main-1{
    display: flex;
    margin: 3em;
    position:absolute;
    right: 0;
    left: 0;
}
.svg-1{
    flex: 1;
}
.svg-1 img{
    padding-top: 9em;
    padding-left: 13.5em;
    width: 15%;
    margin: auto;
}
.svg-2{
    flex: 1;
}
.svg-2 img{
    max-width: 95%;
    margin: auto;
}
.main-2{
    display: flex;
    margin: 3em;
    position: absolute;
    right: 0;
    left: 0;
}
.caja1{
    flex: 1;
}
.caja2{
    flex: 1;
}
.biography{
    max-width: 650px;
    position: absolute;
    margin: auto;
    font-size: 1.9em;
    padding-top: 6em;
    padding-left: 4em;
    padding-right:0 ;
    font-family: var(--font-family);
    color: var(--DarkBlue);
    font-weight: 300;
}
.biography h1{
 /*padding-top:2em ;*/
 font-size: 16px;
 font-weight: 700;
}
/*
.biography h1 span{
    color: var(--GrayishBlue);
    font-weight: 500;
}*/

.avatar{
    margin: auto;
    margin-top:4em;
    margin-left: 4.1em;
    z-index: 999;
    max-width: 72%;
    max-height: 82%;
    box-shadow: 0px 10px 39px 0px rgba(0, 0, 0, 0.75);;
}
.name_jobs{
  display: flex;
  align-items: center;
  padding-top: 1em;
}
.name_jobs h1{
    color: var(--DarkBlue);
    font-weight: 700;
    display:  flex;
    font-size: 18px;
}
.name_jobs p{
   font-weight: 500;
   color: var(--GrayishBlue);
   font-size: 18px;
   padding-left: 1em;
}
.container-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    background-color:white;
    width: 80px;
    height: 40px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 8em;
    bottom: 1.5em;
}
.prev:hover{
    cursor: pointer;
}
.next:hover{
    cursor: pointer;
}
.container-footer{
    padding-top: 15.8em;
    position: sticky;
}
.svg-footer img{
    width: 40%;
    margin: auto;
    position: absolute;
    margin-top: 20em;
    z-index: 1;
}

@media screen and (min-width:1440px){
    .container-footer{
        padding-top: 18.1em;
        position: sticky;
    }
    .svg-1 img{
        padding-top: 9em;
        padding-left: 14em;
        width: 15%;
        margin: auto;
    }
    .biography{
        padding-right: 2em;
    }
    .biography p{
        position: relative;
        width: 710px;
        font-size: 32px;
        padding-left: 0em;
        padding-top: 0.5em;
        text-justify: inter-word;
        font-family: var(--font-family);
        color: var(--DarkBlue);
        font-weight: 300;
    }
      .biography p{
         font-weight: 500;
         color: var(--GrayishBlue);
         font-size: 18px;
         padding-left: 1em;
         margin: 0;
      }
    .avatar{
        margin: auto;
        margin-top: 3.8em;
        margin-left: 4.3em;
        max-width: 73%;
    }
    .svg-footer img{
        position: absolute;
        z-index: 1;
        width: 50%;
        padding-top: 3em;
    }
}


@media screen and (max-width:1199.98px){
    .biography p{
        width: 700px;
        font-size: 32px;
    }
}


@media (min-width: 1199px) and (max-width:1300px) {
    .svg-1 img{
        padding-top: 6.5em;
        padding-left: 12em;
        width: 15%;
        margin: auto;
    }
    .biography{
        padding-top:6em;
    }
    .biography p{
        width: 600px;
        margin: auto;
        font-size:28px;
    }
    
}

@media (min-width:801px) and (max-width:1198px){
    .biography{
        padding-top: 4em;
        padding-left: 2em;
    }
    .biography p{
        margin: auto;
        max-width: 300px;
        font-size: 30px;
    }
    .svg-1 img{
        padding-top: 5.5em;
        padding-left: 6.5em;
        width: 15%;
        margin: auto;
    }
    .avatar{
        max-width: 65%;
    }
    .svg-footer img{
        position: absolute;
        z-index: 1;
        width: 70%;
        margin-top: 150px;
    }
}

@media screen and (max-width: 800.98px){
    .biography{
        padding-top: 4em;
        padding-left: 2em;
    }
    .biography p{
        max-width: 350px;
        margin: auto;
        font-size: 15px;
    }
    .svg-1 img{
        padding-top: 9em;
        padding-left: 14em;
        width: 15%;
        margin: auto;
    }
    .avatar{
        max-width: 72%;
    }
    .svg-2 img{
        max-width: 103%;
        margin: auto;
    }

    .svg-footer img{
        position: absolute;
        z-index: 1;
        width: 80%;
        padding-top: 3em;
    }

}

@media screen and (max-width:375px){

}

